
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}


.navbar a {
  float: left;
  text-align: center;
  padding: 15px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #4c98af;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.container {
    position: relative;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.image {
    display: block;
    width: 200px;
    height: 100%;
    margin-top: 440px;
  }
  
.overlay {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 13, 87);
    overflow: hidden;
    opacity: 0;
    width: 200px;
    height:200px ;
    transition: .5s ease-in-out;
  }
  
.overlay:hover {
    height: 100%;
    width: 200px;
    opacity: 1;
  }
  
.text {
    color: silver;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
.two {
  font-size: 40px;
}
.header {
  color: #1985CD;
  font-size: 80px;
  text-align: center;
  align-self: center;
  padding-top: 60px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.background {
  background-image: url(bg.png);
  background-size: auto; 
  padding: 20px;
  background-size: 100vw;

}

.arrow{
  height: 100px;
  border-bottom: 8px solid rgb(255, 255, 255);
  border-left: 8px solid rgb(255, 255, 255);
  width: 100px;
  align-self: center;
  transform: translate(-50%, -50%);
  position: relative;
  left: 690px;
  bottom: -30px;
  animation: arrow 2s infinite;
}

  @keyframes arrow {
    0%, 100% {
      transform: translateY(0px) rotate(-45deg);
    }
    50%{
      transform: translateY(50px) rotate(-45deg);
    }
  }

.aboutme{
  background-color: rgb(6, 6, 19);
  position: relative;
  width: 100%;
  border: 15px solid rgb(6, 6, 19);
  padding: 10px;
}
.para1{
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  font-style: normal;
  color: #0099ff;
}