

.container {
    position: relative;
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.image {
    display: block;
    width: 200px;
    height: 100%;
    margin-top: 440px;
    margin-left: -640px;
  }
  
.overlay {
    position: absolute;
    bottom: 0;
    top: 0;
    left: -640px;
    right: 0;
    background-color: rgb(91, 121, 151);
    overflow: hidden;
    opacity: 0;
    width: 200px;
    height:100% ;
    transition: .5s ease-in-out;
  }
  
.container:hover .overlay {
    height: 100%;
    width: 200px;
    opacity: 1;
  }
  
.text {
    color: silver;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.hi {
  color: #1985CD;
  font-size: 40px;
  font-style: inherit;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: absolute;
  top: 20%;
  left: 10%;
  text-align: center;
}

.background {
  background-image: url(bg.png);
  background-position: fixed;
  padding: 20px;
  background-size: 100vw;

}

.arrow{
  height: 100px;
  border-bottom: 4px solid #fff;
  border-left: 4px solid #fff;
  width: 100px;
  transform: rotate(-45deg);
  position: relative;
  left: 700px;
  bottom: -500px;

}